
.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(72, 71, 71);
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 246, 239);
    min-width: 30%;
}

.source{
    align-items: center;
    display: flex;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.image{
    border-radius: 30%;
    width: 200px;
    height:200px;
}

.healthLabel{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}